@font-face {
    font-family: solid;
    src: url('../fonts/solid.ttf');
}

body {
    font-family: 'solid', sans-serif;
    font-weight: 300;
    margin: 0;
    background-image: url('../images/gigg.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(89, 210, 100);
}

header nav:nth-child(1) ul {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(35, 24, 204);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(35, 24, 204, 1) 14%);
    padding: 1em;
    margin: 0;
    margin-bottom: 20em;
}

main nav {
    font-size: 15px;
    background-color: rgb(89, 210, 100);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(89, 210, 100) 14%);
    display: flex;
    align-items: center;
    margin-bottom: 5em;

}


main a:hover {
    color: rgb(35, 24, 204);
}

nav p {
    color: white;
    font-size: 30px
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(89, 210, 100);

}

button:hover {
    color: rgb(89, 210, 100);
}

li {
    display: inline-block;
}

main {
    background-image: url(../images/background-section.png);
    background-size: 25%;
    background-repeat: repeat;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
    align-items: center;
    grid-gap: 2em;
    padding: 5vw;
}

article {
    flex: 30%;
    background-color: rgb(89, 210, 100);
    box-shadow: inset 0px 1px 18px 4px rgba(0, 0, 0, 1);
    padding: 40px 40px 40px 40px;
    margin: 25px auto;
    max-width: 400px;
}

article p {
    color: white;
}

article h2 {
    font-size: 35px;
}

article:hover {
    background-color: rgb(35, 24, 204);
    background-size: 400%;
    background-repeat: no-repeat;
    color: red;
}

.programma_img {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
}

.icoon {
    max-width: 10%
}

.icoon_muziek {
    max-width: 10%;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
    align-items: center;
}

.artiesten2 {
    flex: 30%;
    background-color: rgb(89, 210, 100);
    box-shadow: inset 0px 1px 18px 4px rgba(0, 0, 0, 1);
    padding: 40px;
    margin: 25px auto;
    max-width: 50%;
}

.programma_img2 {
    max-width: 100%;
    display: flex;
    align-items: center;
}

footer {
    background-color: rgb(35, 24, 204);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}


header nav:nth-child(2) {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: mediumblue;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -1;
}

header nav:nth-child(2).show {
    opacity: 0.9;
    z-index: 999;
}

header nav:nth-child(2) ul {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

header nav:nth-child(2) li {

    font-size: 4em;
}



header nav button {
    font-family: 'solid', sans-serif;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: 1.2em;
    color: white;
}

#mobile_btn {
    position: relative;
    z-index: 999999;
}
